*.html
*.pdf
*.redxml
*.swp
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-oauth-selective-disclosure-jwt.xml
package-lock.json
report.xml
!requirements.txt
sd_jwt.egg-info/
sd_jwt/__pycache__/
.gitignore
