name: "Update Editor's Copy"

on:
  push:
    paths-ignore:
    - README.md
    - CONTRIBUTING.md
    - LICENSE.md
    - .gitignore
  pull_request:
    paths-ignore:
    - README.md
    - CONTRIBUTING.md
    - LICENSE.md
    - .gitignore

jobs:
  build:
    name: "Update Editor's Copy"
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@v3

    - name: "Setup"
      id: setup
      run: date -u "+::set-output name=date::%FT%T"

    # Install the SD-JWT tooling using pip
    - name: "Install SD-JWT tooling"
      run: |
        python3 -m pip install --upgrade pip
        # Reminder to change below back to git+https://github.com/danielfett/sd-jwt.git before (or right after?) merging
        python3 -m pip install git+https://github.com/bc-pi/sd-jwt.git@bc-tilde-and-terms

    # Build the local examples
    - name: "Build local examples"
      run: |
        cd examples
        sd-jwt-generate example

    - name: "Caching"
      uses: actions/cache@v3
      with:
        path: |
          .refcache
          .venv
          .gems
          node_modules
          .targets.mk
        key: i-d-${{ steps.setup.outputs.date }}
        restore-keys: i-d-

    - name: "Build Drafts"
      uses: martinthomson/i-d-template@v1
      with:
        token: ${{ github.token }}

    - name: "Update GitHub Pages"
      uses: martinthomson/i-d-template@v1
      if: ${{ github.event_name == 'push' }}
      with:
        make: gh-pages
        token: ${{ github.token }}

    - name: "Archive Built Drafts"
      uses: actions/upload-artifact@v2
      with:
        path: |
          draft-*.html
          draft-*.txt
